<td class='text-[1rem] font-normal border border-slate-900 p-1 capitalize text-center px-4 gap-5'>
    @if (item.IsSubmitted)
    {
        @if (!string.IsNullOrEmpty(item.Reason))
        {
            <button className='text-[14px] font-medium bg-blue-400 outline-none py-2 px-4 rounded m-1'>Unfreeze</button>
            <button className='text-[14px] font-medium bg-green-400 outline-none py-2 px-4 rounded m-1'>Accept</button>
            <button className='text-[14px] font-medium bg-red-400 outline-none py-2 px-4 rounded m-1'>Reject</button>
        }
        <button className='text-[14px] font-medium bg-green-400 outline-none py-2 px-4 rounded m-1'>Accept</button>
        <button className='text-[14px] font-medium bg-red-400 outline-none py-2 px-4 rounded m-1'>Reject</button>
    }
</td>

<td>



</td>