<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
<!-- 
   <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.vishal.MyServlet</servlet-class>
    
    <init-param>
     	 <param-name>name</param-name>
	  <param-value>geetansh</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  
  <context-param>
	  <param-name>name</param-name>
	  <param-value>Vishal</param-value>
  </context-param>
  <context-param>
	  <param-name>phone</param-name>
	  <param-value>8459126643</param-value>
  </context-param>  
-->
</web-app>