@{
    ViewData["Title"] = "Home Page";
}


<section class="max-w-[1200px] mx-auto my-10">
    <div class="text-center">
        <h1 class="display-4">Tax Management System </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet diam vel est auctor mattis eget ac diam. Cras tempor euismod nunc. Mauris eleifend gravida rutrum. Mauris velit risus, tempus non felis nec, ultrices malesuada mi. Praesent iaculis eros id sem dapibus, nec mollis diam lacinia. Morbi facilisis ligula odio, sed sodales nisi suscipit sit amet. Donec posuere purus at lacus sollicitudin auctor.

            In vitae neque varius, lacinia odio in, imperdiet eros. Sed eros magna, viverra et odio ac, vulputate cursus lorem. Vestibulum est lorem, venenatis vitae lorem et, semper finibus quam. In finibus urna ac vulputate laoreet. Pellentesque et arcu massa. In nulla elit, venenatis non magna eget, sodales molestie mi. Phasellus vel mi eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas ac nisi risus. Suspendisse pretium massa quis ex egestas molestie.

            Maecenas scelerisque nisl nec malesuada pretium. Aenean varius diam eget lacus luctus, et accumsan augue posuere. Phasellus vitae lectus ac nibh scelerisque pretium at eget ante. Donec odio sem, iaculis vel turpis eget, dictum maximus enim. Sed ornare rhoncus interdum. Praesent ultricies feugiat nibh, non efficitur sem dignissim non. Maecenas faucibus feugiat metus eu condimentum. Quisque ut mauris justo.
        </p>
</section>
